$primary-font: 'Comfortaa', cursive;
$heading-font: 'Chelsea Market', serif;
$bg-black: #1C1C1C;
$dark-blue:  #1D3557;
$dark-orange: #BC6C25;
$link-bl: #283618;
$desktop-page-sp: 100px;
$container-padding-sm: 24px;
$container-padding-lg: 96px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  min-height: 100vh;

}

footer {
  background: #000000;
  max-height: 400px;
  padding: 20px;
  padding-left: 60px;
  position: relative;
  bottom: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
  line-height: 2rem;
  text-align: center;
  padding-bottom: 10px;
}

a, a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  opacity: 0.5;
}

.container {
  flex: 1 1 auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-sm;
  padding-right: $container-padding-sm;
}

.container-left {
    flex: 1 1 auto;
    width: 300px;
    position: absolute;
    top:100px;
    height:auto;
    margin-left: 0px;

}

.page-content {
  margin: 10px 0;
  text-align: center;
  h1 {background-color: #000000;border-radius: 10px;color: #c4c4c4;} 
  h3 {padding-top: 40px;}
}

.left-content {
    text-align: left;
    color: #ffffff;
    background-color: #414141;
    height: 750px;
}

.icons:hover{
  opacity: 0.5;
}

.main-content {
  flex: 1;
}

.dark-blue {
  color: $dark-blue;
}

.dark-orange {
  color: $dark-orange;
}

.white {
  color: rgb(253, 253, 253)
}

.heading-secondary {
  font-size: 2.3rem;
  padding: 0;
}

.featured {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $heading-font;
}

img {
  max-width: 100%;
  height: auto;
}



/* Hero section */

.hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height:500px;
  /*border: 2px solid #1C1C1C;*/
  border-radius: 15px;
  background-image: url('/DChome.jpg');
  background-repeat: no-repeat;
  background-size:1100px auto;
  background-position: center;
  margin-top: 20px;


  &__header {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    text-size-adjust:calc(1) ;

  }

}

.top-nav {
  list-style-type: none;
  font-family: $heading-font;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  /*border-bottom: 2px solid #1C1C1C;*/

  & li a {
    display: block;
  }

  &__link {
    display: none;
    order: 1;
    width: 100%;
    text-align: center;
    margin-right: 100px;
    font-weight: 600;
    font-size: 150%;
  }
  
  &__logo {
    /*border-right: 2px solid #1C1C1C;*/
    width: auto;
    height: auto;
    padding: 10px 60px;
    margin-left: 50px;

    & a {
      max-width: auto;
    }
  }

  &__link-group {
    color: #ffffff;
    order: 1;
    position: absolute;
    right: 670px;
    display: block;
    width: auto;
  }
}

// Footer area

.footer-content {
  padding-top: 20px;


  &__left-group {
    width: 100%;
    color: white;
    margin-bottom: 5px;
  }

  &__site-name {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }

  &__right-group {
    width: 100%;
    margin-bottom: 10px;
    & .newsletter-form {
      display: block;
    }
  }
}

.footer-social {
  width: 100%;
  display: flex;
  margin-top: 0px;
  color: white;

  & .icons {
    padding: 12px;
    font-size: 1.5rem;
    margin-right: 20px;

    &:first-child {
      margin-left: -12px;
    }
  }
}

.newsletter-form {
  display: flex;
  width: 100%;

  & .input-wrapper {
    position: relative;
    width: 100%;

    & .submit-arrow {
      position: absolute;
      right: 0;
      bottom: 10px;
      cursor: pointer;
    }
  }

  &__form-title {
    width: 100%;
    color: $dark-orange;
    margin-bottom: 20px;
  }

  & input {
    background: $bg-black;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid white;
    caret-color: white;
    color: white;
    font-size: 1.1rem;
    width: 100%;
  }
}

// Homepage and blog list styles

.b-hero {
  display: flex;
  margin-bottom: 40px;

  &__image {
    max-width:100%;
    margin-right: 40px;
  }

  &__info {
    max-width: 50%;
    align-self: center;
  }

  &__author-date {
    width: 100%;
    & span {
      display: block;
      padding: 10px 0;
    }
  }
  &__title {
    padding:0;
    padding-bottom: 20px;
  }
}


.image-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-row {
  display: block;
  margin-top: 20px;
  width: 100%;

  .post-front {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    
    &__image {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

.post-preview {
  display: block;
  margin-bottom: 20px;

  &__left {
    width: 100%;
    max-height: 200px;
  }

  &__right {
    margin-left: auto;
    position: relative;
    width: 100%;
  }
}

.preview-title {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tag-group {
  display: flex;
  margin-top: 10px;
  width: 100%;

  & .tag {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
  
    & .tag-text {
      padding: 5px;
    }
  }
}

// Gallery styles
.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  & img {
    flex: 25%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
  }
}

.item-footer {
  margin: 20px 0 50px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  &__location {
    border-top: 2px solid black;
    padding: 10px 0;
  }

  &__bold {
    font-weight: bold;
  }

  &__status {
    display: flex;
  }

  &__left {
    width: 50%;
    padding: 10px 0;
    border-right: 2px solid black;
  }

  &__right {
    padding: 10px 0 10px 20px;
    width: 50%;
  }
}

// Map style

#map-canvas {
  width:100%; 
  height:650px; 
  border: 4px solid black; 
  margin-top: 20px;
}

.marker-info {
  display: flex;
  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__text {
    display: block;
    padding: 0 10px;
    font-size: 1rem;
  }
  &__title {
    font-weight: bold;
    border-bottom: 2px solid black;
  }
}

// Contact

.contact {
  margin-top: 40px;
  
  &__heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.staff {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.staff-member {
  margin-right: 20px;
  width: 25%;
  &__contact {
    display: flex;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &:last-child {
    margin-right: 0;
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__contacts {
    margin-left: 20px;
  }

  & .option {
    color: $dark-orange;
  }
}

// Media queries

/* Phone menu */
@media(max-width:400px){
  .top-nav__logo {
   margin-left: auto;
   margin-right: auto;   
  }
}

/* Tablet menu */
@media(max-width:1024px){
  
  .post-preview {
    display: flex;
    margin-bottom: 20px;
  
    &__left {
      max-width: 300px;
      max-height: 200px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;
    }
  }

  .top-nav__logo {
    order: 0;  

  }

  
  .dropbtn {
    color: #414141;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

  }
  
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #414141;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  
  .show {
  display: block;
  }


/*  .top-nav__link-group {
    order: 1;
    position: relative;
    display:table;
    width: auto;
    margin: 0 auto;
  }
*/


  .hero {
    margin-top: 40px;
    &__header {
      top: 20px;
      max-width: 350px;
    }
  }

  .post-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .post-front {
     flex-grow: 1;
      margin-left: 20px;
      width: 30%;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* Desktop menu */
@media (min-width: 1024px) {

  .post-preview {
    display: flex;
    margin-bottom: 30px;
  
    &__left {
      max-width: 350px;
      max-height: 300px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;

      .tag-group {
        display: flex;
        position: absolute;
        bottom: 0;
      }
    }
  }


  .top-nav__logo {
    order: 0;
    object-fit: contain;
    width: 200px;
    height: 100px;
    -webkit-filter: invert(100%);
  }

  .top-nav__link-group {
    order: 1;
    position: relative;
    display: flex;
    width:fit-content;
    margin: 0;
  }

  .top-nav__link {
    order: 1;
    width: 100%;
    text-align: left;
    display: block;
  }

  .dropdown {
    display: none;
    }

    .homeImage {
    object-fit: contain;
    width:600px;
    height: auto;
    }

  .imageButton {
    opacity: 0.7;
    display:block;
    position:absolute;
    width: 97%;
    top: 35px;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #bbcf9f;
    padding:20px;
  }

  .responsive {
    float:left;
    width: 33.33%;
    height: 330px;
    position: relative;
    text-align: center;
  }
  
  .gallery {
    margin: 0px;
    //border: 1px solid #ccc;
    float: left;
    width: 100%;

  }

  .gallery:hover {
    border: 0px solid #777;
  }

  .gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .desc {
    text-align: center;
    color:#414141 ;
    position: absolute;
    bottom: 50%;
    left: 50%;
  }

  .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .slideshow {
    margin: 20px;
    padding: 7px;
    border: #bbcf9f 10px solid;
    border-radius: 10px;
    width: 100%; 
    height: 600px;
  }
  .page-content {
    height: 500px;
    padding: 0;
    margin: 40px 0 80px 0;
  }


  .featured {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .hero {
    margin-top: 40px;

    &__header {
      top: 40px;
      font-size: 3rem;
      text-align: center;
    }
  }

  .container {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
  }

  .footer-content {
    display: flex;

    &__left-group{
      width: 100%;
      & p {
        width: 50%;
      }
    }

    &__right-group {
      width: 40%;
    }
  }
    
}
